.sign-up_header
  %img.sign-up_header_image{:height => "100", :src => "/images/material/logo/J_Team_Logo.png", :width => "200"}/
  .sign-up_header_logo
    %img{:height => "100", :src => "/images/material/logo/logo.png", :width => "200"}/
  .new_inform_content_text__main__birthday__form_icon
    %i.fas.fa-angle-down.1
  =f.select :birth_year, ["--"], {}, {class: "select-default_year", id:"select_birth_year"}
  .new_inform_content_text__main__birthday__form__text_year
    年
  .new_inform_content_text__main__birthday__form_icon
    %i.fas.fa-angle-down.2
  =f.select :birth_month, ["--"], {}, {class: "select-default_year", id:"select_birth_month"}
  .new_inform_content_text__main__birthday__form__text_month
    月
  .new_inform_content_text__main__birthday__form_icon
    %i.fas.fa-angle-down.3
  =f.select :birth_day, ["--"], {}, {class: "select-default_year", id:"select_birth_day"}
  .new_inform_content_text__main__birthday__form__text_day
    日

  = f.submit "Next"