.done_header
  %img.done_header_image{:height => "100", :src => "/images/material/logo/J_Team_Logo.png", :width => "200"}/
  .done_header_logo
    %img{:height => "100", :src => "/images/material/logo/logo.png", :width => "200"}/
    %ul.done_header_pankuzu
      %li.done_header_pankuzu_register_info_text
        会員情報
        .done_header_pankuzu_register_info_text_status
          ●
        .done_header_pankuzu_register_info_text_underline
          あ
      %li.done_header_pankuzu_phone-number_text
        電話番号認証
        .done_header_pankuzu_phone-number_text_status
          ●
        .done_header_pankuzu_phone-number_text_underline
          あ
      %li.done_header_pankuzu_address_text
        お届け先住所入力
        .done_header_pankuzu_address_text_status
          ●
        .done_header_pankuzu_address_text_underline
          あ
      %li.done_header_pankuzu_pay_text
        お支払い方法
        .done_header_pankuzu_pay_text_status
          ●
        .done_header_pankuzu_pay_text_underline
          あ
      %li.done_header_pankuzu_done_text
        完了
        .done_header_pankuzu_done_text_status
          ●



.done_contents
  .done_contents_top
    会員登録完了
  .done_contents_main
    .done_contents_main_text_top
      ありがとうございます。
    .done_contents_main_text_bottom
      会員登録が完了しました。
    .done_contents_main_btn
      %a.btn-default.btn-red{:href => "/"}
        フリマアプリをはじめる




.done_footer
  .done_footer_contents
    .done_footer_contents_links
      %ul
        %a.done_footer_contents_links_1{:href => ""}
          %li プライバシーポリシー
      %ul
        %a.done_footer_contents_links_2{:href => "/"}
          %li Fmarket利用規約
      %ul
        %a.done_footer_contents_links_3{:href => "/"}
          %li 特定商取引に関する表記
    .done_footer_contents_logo
      %a.done_footer_contents_logo_link{:href => "/"}
        %img.done_footer_contents_logo_image{:src => "/images/material/logo/logo_gray.svg"}/
    .done_footer_contents_inc
      ©︎Fmarket,inc.