.fooder
  %ul.fooder_content
    %li.fooder_content_left
      %h2.fooder_content_left_title
        FURIMAについて
      %ul.fooder_content_left_content
        %li.fooder_content_left_content_1
          %a.fooder_content_left_content_1_1{href: "#"}
            会社概要(運営会社)
        %li.fooder_content_left_content_2
          %a.fooder_content_left_content_2_2{href: "#"}
            プライバシーポリシー
        %li.fooder_content_left_content_3
          %a.fooder_content_left_content_3_3{href: "#"}
            FURIMA利用規約
        %li.fooder_content_left_content_4
          %a.fooder_content_left_content_4_4{href: "#"}
            ポイントに関する特約
    %li.fooder_content_middle
      %h2.fooder_content_middle_title
        FURIMAを見る
      %ul.fooder_content_middle_content
        %li.fooder_content_middle_content_1
          %a.fooder_content_middle_content_1_1{href: "#"}
            カテゴリー一覧
        %li.fooder_content_middle_content_2
          %a.fooder_content_middle_content_2_2{href: "#"}
            ブランド一覧
    %li.fooder_content_right
      %h2.fooder_content_right_title
        ヘルプ&ガイド
      %ul.fooder_content_right_content
        %li.fooder_content_right_content_1
          %a.fooder_content_right_content_1_1{href: "#"}
            FURIMAガイド
        %li.fooder_content_right_content_2
          %a.fooder_content_right_content_2_2{href: "#"}
            FURIMAロゴ利用ガイドライン
        %li.fooder_content_right_content_3
          %a.fooder_content_right_content_3_3{href: "#"}
            お知らせ
  .fooder_icon
    %img.fooder_icon_1{src: "/images/material/logo/logo-white.png", width: "125", height: "40"}
  %p.fooder_c
    ©️FURIMA
.camera
  .camera_1
  %img.camera_icon{src: "/images/material/icon/icon_camera.png", width: "54", height: "54"}