.main
  %section.main_1
    .main_1_content
      %h2.main_1_content_top
        人生を変えるフリマアプリ
      %p.main_1_content_middle
        FURIMAはだれでもかんたんに出品・購入できる
        %br
          フリマアプリです。
      .main_1_content_lower
        %a.apple
          %img.apple_icon{src: "/app.svg", width: "200", height: "50"}/
        %a.google
          %img.google_icon{src: "/google.svg", width: "200", height: "50"}/
  %section.main_2
    %h2.main_2_title
      .main_2_title_content
        FURIMAが選ばれる3つの理由
    %ul.main_2_list
      %li.main_2_list_left
        .main_2_list_left_image
          .main_2_list_left_image_m
            .main_2_list_left_image_m_1
              1
        %h3.main_2_list_left_title
          %span.main_2_list_left_title_m
            3分
          ですぐに出品
        %p.main_2_list_left_sentence
          スマホで入力するだけで簡単に出品できる！
      %li.main_2_list_middle
        .main_2_list_middle_image
          .main_2_list_middle_image_m
            .main_2_list_middle_image_m_2
              2
        %h3.main_2_list_middle_title
          %span.main_2_list_middle_title_m
            シンプル
          で使いやすい
        %p.main_2_list_middle_sentence
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.main_2_list_right
        .main_2_list_right_image
          .main_2_list_right_image_m
            .main_2_list_right_image_m_3
              3
        %h3.main_2_list_right_title
          手数料
          %span.main_2_list_right_title_m
            業界最安値
        %p.main_2_list_right_sentence
          最大3%ででお得に出品&購入
  %section.main_3
    .main_3_content
      %h2.main_3_content_top
        会員数日本一位
      %p.main_3_content_middle
        FURIMAは、フリマアプリで最も人気。
        %br.main_3_content_middle_1
          出品・購入回数も業界最多です！
          %br.main_3_content_middle_2
            ほしかったあの商品に出会えるかもしれません。
      .main_3_content_lower
        %a.apple_2
          %img.apple_2_icon{src: "/app.svg", width: "200", height: "50"}/
        %a.google_2
          %img.google_icon{src: "/google.svg", width: "200", height: "50"}/
  %section.main_4
    %h2.main_4_title
      .main_4_title_content
        FURIMAの特徴
    %ul.main_4_list
      %li.main_4_list_left
        %img.main_4_list_left_image{src: "/images/material/icon/icon-01.png", width: "200", height: "300"}
        %h3.main_4_list_left_title
          簡単に売り買いできる
        %p.main_4_list_left_sentence
          スマホひとつで、いつでもどこでも簡単
          %br.main_4_list_left_sentence_s
            に出品・購入が可能！
      %li.main_4_list_middle
        %img.main_4_list_middle_image{src: "images/material/icon/icon-03.png", width: "200", height: "300"}
        %h3.main_4_list_middle_title
          売上金は即日振り込みに対応
        %p.main_4_list_middle_sentence
          午前９時までに振込を依頼いただけれ
          %br.main_4_list_middle_sentence_s
            ば、翌日に指定の口座に入金いたします！
      %li.main_4_list_right
        %img.main_4_list_right_image{src: "/images/material/icon/icon-04.png", width: "200", height: "300"}
        %h3.main_4_list_right_title
          様々な支払いに対応
        %p.main_4_list_right_sentence
          お支払いはクレジットだけではな
          %br.main_4_list_right_sentence_s
            く、ポイントや売上金など多彩なが
            %br.main_4_list_right_sentence_s_2
              あります。
  %section.main_5
    %h2.main_5_title
      ピックアップカテゴリー
    .main_5_content
      .main_5_content_title
        %h3.main_5_content_title_n
          新規投稿商品
      .main_5_content_list
        .main_5_content_list_left
          %img.main_5_content_list_left_image{src: "/a007.png", width: "250", height: "250"}
          %p.main_5_content_list_left_top
            product3
          .main_5_content_list_left_middle
            .middle_1
              30000円
            .middle_2
              ★0
          %p.main_5_content_list_left_lower
            (税込)
        .main_5_content_list_middle
          %img.main_5_content_list_middle_image{src: "/a004.png", width: "250", height: "250"}
          %p.main_5_content_list_middle_top
            product3
          .main_5_content_list_middle_middle
            .middle_3
              30000円
            .middle_4
              ★0
          %p.main_5_content_list_middle_lower
            (税込)
        .main_5_content_list_right
          %img.main_5_content_list_right_image{src: "/a001.png", width: "250", height: "250"}
          %p.main_5_content_list_right_top
            product3
          .main_5_content_list_right_middle
            .middle_5
              30000円
            .middle_6
              ★0
          %p.main_5_content_list_right_lower
            (税込)
  %section.main_6
    %h2.main_6_title
      ピックアップブランド
    .main_6_content
      .main_6_content_title
        %h3.main_6_content_title_n
          アーカイバ
      .main_6_content_list
        .main_6_content_list_left
          %img.main_6_content_list_left_image{src: "/a007.png", width: "250", height: "250"}
          %p.main_6_content_list_left_top
            product3
          .main_6_content_list_left_middle
            .middle_7
              30000円
            .middle_8
              ★0
          %p.main_6_content_list_left_lower
            (税込)
        .main_6_content_list_middle
          %img.main_6_content_list_middle_image{src: "/a004.png", width: "250", height: "250"}
          %p.main_6_content_list_middle_top
            product3
          .main_6_content_list_middle_middle
            .middle_9
              30000円
            .middle_10
              ★0
          %p.main_6_content_list_middle_lower
            (税込)
        .main_6_content_list_right
          %img.main_6_content_list_right_image{src: "/a001.png", width: "250", height: "250"}
          %p.main_6_content_list_right_top
            product3
          .main_6_content_list_right_middle
            .middle_11
              30000円
            .middle_12
              ★0
          %p.main_6_content_list_right_lower
            (税込)
