.main
  %section.main_1
    .main_1_content
      %h2.main_1_content_top
        人生を変えるフリマアプリ
      %p.main_1_content_middle
        FURIMAはだれでもかんたんに出品・購入できる
        %br
          フリマアプリです。
      .main_1_content_lower
        %a.apple
          %img.apple_icon{src: "/app.svg", width: "200", height: "50"}/
        %a.google
          %img.google_icon{src: "/google.svg", width: "200", height: "50"}/
  %section.main_2
    %h2.main_2_title
      .main_2_title_content
        FURIMAが選ばれる3つの理由
    %ul.main_2_list
      %li.main_2_list_left
        .main_2_list_left_image
          %span.main_2_list_left_image_1
            1
        %h3.main_2_list_left_title
          %span.main_2_list_title_m
            3分
          ですぐに出品
        %p.main_2_list_left_sentence
          スマホで入力するだけで簡単に出品できる！
      %li.main_2_list_middle
        .main_2_list_middle_image
          %span.main_2_list_middle_image_2
            2
        %h3.main_2_list_middle_title
          %span.main_2_list_middle_title_m
            シンプル
          で使いやすい
        %p.main_2_list_middle_sentence
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.main_2_list_right
        .main_2_list_right_image
          %span.main_2_list_right_image_3
            3
        %h3.main_2_list_right_title
          手数料
          %span.main_list_right_title_m
            業界最安値
        %p.main_2_list_right_sentence
          最大3%ででお得に出品&購入
  .main_3
  .main_4
  .main_5
