<div class="header">
  <div class="header_box">
    <div class="header_box_upper">
      <div class="header_box_upper_icon">
        <a class="header_link" href="#">
          <img class="header_box_upper_icon_img" src="#">
        </a>
      </div>
      <div class="header_box_upper_search">
        <form class="search_form" action="#" accept="UTF-8" method="get">
          <input name="utf8" type="hidden" value="#">
          <input placeholder="何かお探しですか？" class="search_input" type="text" name="keyword" id="keyqword">
          <i class="fas fa-search header_box_upper_search_icon"></i>
        </form>
      </div>
    </div>
    <div class="header_box_lower">
      <ul class="header_box_lower_select categories_box">
        <li class="header_box_lower_select_lists">
          <a class="header_link categorides-list_link" href="#">
            <i class="fas fa-list header_box_lower_select_lists_icon"></i>
              カテゴリから探す
            <ul class="categories-list_parents"><ul>
          </a>
        </li>
        <li class="header_box_lower_select_lists brand_box">
          <a class="header_link brand_box" href="#">
            <i class="fas fa-tags header_box_lower_select_lists_icon"></i>
              ブランドから探す
          </a>
        </li>
      </ul>
      <ul class="header_lower_users">
        <li class="header_box_lower_users_lists">
          <a class="header_link" href="#">
            <div class="header_box_lower_userslists_title">新規会員登録</div>
          </a>
        </li>
        <li class="header_box_lower_users_lists">
          <a class="header_link" href="#">
            <div class="header_box_lower_users_lists_title">ログイン</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
