.header
  .header_box
    .header_box_upper
      .header_box_upper_icon
        %a.header_link{:href => "#"}
          %img.header_box_upper_icon_img{:src => "#"}/
      .header_box_upper_search
        %form.search_form{:accept => "UTF-8", :action => "#", :method => "get"}
          %input{:name => "utf8", :type => "hidden", :value => "#"}/
          %input#keyqword.search_input{:name => "keyword", :placeholder => "何かお探しですか？", :type => "text"}/
          %i.fas.fa-search.header_box_upper_search_icon
    .header_box_lower
      %ul.header_box_lower_select.categories_box
        %li.header_box_lower_select_lists
          %a.header_link.categorides-list_link{:href => "#"}
            %i.fas.fa-list.header_box_lower_select_lists_icon
            カテゴリから探す
            %ul.categories-list_parents
              %ul
        %li.header_box_lower_select_lists.brand_box
          %a.header_link.brand_box{:href => "#"}
            %i.fas.fa-tags.header_box_lower_select_lists_icon
            ブランドから探す
      %ul.header_lower_users
        %li.header_box_lower_users_lists
          %a.header_link{href: new_user_registration_path }
            .header_box_lower_userslists_title 新規会員登録
        %li.header_box_lower_users_lists
          %a.header_link{href: user_session_path }
            .header_box_lower_users_lists_title ログイン
            = link_to 'Googleログイン', user_google_omniauth_authorize_path, class: "google"
            = link_to 'Facebookログイン', user_facebook_omniauth_authorize_path, class: "facebook"
        %li.header_box_lower_users_lists
          %a.header_link{href: destroy_user_session_path, method: :delete }
            .header_box_lower_users_lists_title ログアウト
            = link_to "ログアウト", destroy_user_session_path, method: :delete

- if current_user
  %h1= current_user.name
