<%= render partial: "top"%>
<div class="image">
  <button class="image_slide_left" aria-label="Previous" type="button" style="desplay: block;">Previous</button>
  <div class="image_list">
    <div class="image_list_track"></div>
  </div>
  <button class="image_slide_right" aria-label="next" type="button" style="desplay: block;">next</button>
  <ul class="image-dots" style="display: block;" role="tabs">
    <li role="image_presentation"></li>
    <li role="image_presentation"></li>
  </ul>
</div>
<div class="popular">
  <div class="popular_content">
    <a class="popular_content_title" href="#">
      <img class="popular_content_title_icon" scr="#">
        ポプピュラーワード
    </a>
  </div>
</div>
<div class="fooder">
  <div class="fooder_big">
    <div class="fooder_big_content">
      <div class="fooder_big_content_text">
        <div class="fooder_big_content_text_title">
          <div class="fooder_big_content_text_title_upper">FURIMAについて</div>
          <div class="fooder_big_content_text_title_lower">スマホ簡単アプリ</div>
        </div>
        <div class="fooder_big_content_text_icon"></div>
      </div>
      <img class="fooder_big_content_image" scr="#">
    </div>
  </div>
  <div class="fooder_small"></div>
  <div class="fooder_lower"></div>
</div>