= render partial: "top"
.image
  %button.image_slide_left{"aria-label" => "Previous", :style => "desplay: block;", :type => "button"} Previous
  .image_list
    .image_list_track
  %button.image_slide_right{"aria-label" => "next", :style => "desplay: block;", :type => "button"} next
  %ul.image-dots{:role => "tabs", :style => "display: block;"}
    %li{:role => "image_presentation"}
    %li{:role => "image_presentation"}
.popular
  .popular_content
    = link_to '#', class: "popular_content_title" do
      .img.popular_content_title_icon
        ポプラーワード
.fooder
  .fooder_big
    .fooder_big_content
      .fooder_big_content_text
        .fooder_big_content_text_title
          .fooder_big_content_text_title_upper FURIMAについて
          .fooder_big_content_text_title_lower スマホ簡単アプリ
        .fooder_big_content_text_icon
      %img.fooder_big_content_image{:scr => "#"}/
  .fooder_small
  .fooder_lower
