.header{
  margin-top: 40px;
  width: 100%;
  height: 100px;
  &_content{
    height: 120px;
    width: 800px;
    margin: auto;
    &_up{
      display: flex;
      height: 70px;
      &_icon{
        width: 200px;
        height: 70px;
      }
      &_search{
        width: 600px;
        height: 50px;
        &_bar{
          display: flex;
          width: 580px;
          height: 50px;
          margin: auto;
          .search{
            width: 510px;
            height: 50px;
          }
          .submit{
            width: 70px;
            height: 50px;
          }
        }
      }
    }
    &_lower{
      width: 100%;
      height: 50px;
      display: flex;
      &_left{
        display: flex;
        a {
          color: black;
        }
        &_brand{
          margin-left: 15px;
        }
      }
      &_right{
        display: flex;
        margin-left: 500px;
        a {
          color: black;
        }
        &_login{
          margin-right: 5px;
        }
        &_register{
          margin-left: 10px;
        }
      }
    }
  }
}

